.side_body{
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: beige;
}

.Navlink_p{
    font-size: 25px;
    margin: 0;
}

.Navbrand_p{
    font-size: 35px;
}

.Brand{
    margin: 20px;
}

.User{
    position: fixed;
    bottom: 5px;
    margin: 20px;
}

.User_img{
    width: 60px;
    margin: 10px;
}

.Button-nav-bottom{
    margin: 5px;
}